<h1>New Pickup Day</h1>

<%= simple_form_for @pickup_day do |f| %>
  <%= f.input :scheduled_for, as: :date %>
  <%= f.input :starts_at, as: :time %>
  <%= f.input :ends_at, as: :time %>
  <%= f.button :submit %>
<% end %>